.m-auto {
  margin: auto
}

.flex {
  display: flex
}

.w-\[138px\] {
  width: 138px
}

.w-full {
  width: 100%
}

.max-w-\[1240px\] {
  max-width: 1240px
}

.list-none {
  list-style-type: none
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-3 {
  gap: 0.75rem
}

.gap-10 {
  gap: 2.5rem
}

.gap-12 {
  gap: 3rem
}

.gap-24 {
  gap: 6rem
}

.border-none {
  border-style: none
}

.bg-\[\#78A1D3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(120 161 211 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-0 {
  padding: 0px
}

.align-middle {
  vertical-align: middle
}

.capitalize {
  text-transform: capitalize
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
