.m-auto {
  margin: auto;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.max-w-\[1240px\] {
  max-width: 1240px;
}

.list-none {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-7 {
  gap: 1.75rem;
}

.bg-\[rgba\(97\2c 151\2c 227\2c 0\.1\)\] {
  background-color: rgba(97,151,227,0.1);
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.text-center {
  text-align: center;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[40px\] {
  font-size: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.leading-10 {
  line-height: 2.5rem;
}

.tracking-widest {
  letter-spacing: 0.1em;
}

.text-\[\#1C2122\] {
  --tw-text-opacity: 1;
  color: rgb(28 33 34 / var(--tw-text-opacity));
}

.text-\[\#78A1D3\] {
  --tw-text-opacity: 1;
  color: rgb(120 161 211 / var(--tw-text-opacity));
}

.text-\[\#818A9C\] {
  --tw-text-opacity: 1;
  color: rgb(129 138 156 / var(--tw-text-opacity));
}

@font-face {
  font-family: "noto";

  src: url("./fonts/NotoSans-Regular.ttf");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: "noto-bold";

  src: url("./fonts/NotoSans-Bold.ttf");

  font-weight: normal;

  font-style: normal;
}

body {
  font-family: "noto"
}

.bold {
  font-family: "noto-bold"
}

.link {
  color: inherit;
  text-decoration-line: none;
}

.button, .button-outline {
  display: flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 143px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration-line: none;
}

.button {
  border-radius: 0.25rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(120 161 211 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button-outline {
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(120 161 211 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(120 161 211 / var(--tw-text-opacity));
}

.menu-item {
  list-style-type: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media (min-width: 1024px) {
  .menu-item {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:px-48 {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .lg\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:text-\[64px\] {
    font-size: 64px;
  }

  .lg\:leading-\[72px\] {
    line-height: 72px;
  }
}
